@import "../styles/utilities";

.layout {
  position: relative;
  overflow: hidden;
}

.mainContainer {
  margin: 0 4rem;

  @include media-breakpoint-down(md) {
    margin: 0 1rem;
  }
}

.index {
  width: 100%;
  background-image: url(../../content/assets/bgIndex.svg);
  min-height: 100vh;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  margin-top: 600px;
}

.pages {
  width: 100%;
  background-image: url(../../content/assets/bgIndex.svg);
}
