@import "../styles/utilities";

.contentTypes {
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  // @include make-row($gutter: 1rem);

  .title {
    padding-left: 10%;
    @include make-col(7, $columns: $grid-columns);

    @include media-breakpoint-down(md) {
      padding-left: 0;
      @include make-col(12);
    }

    h1 {
      span {
        font-weight: 300;
      }
    }
  }

  .wrapper {
    width: 100%;
    padding: 0 16rem;

    @include media-breakpoint-down(md) {
      padding: 0 1rem;
    }

    .contentBox {
      background: #efefef;
    }
  }
}

/* Tabs wrapper */
.tabs {
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2rem;
  padding-right: 10%;

  @include media-breakpoint-down(md) {
    display: block;
    margin-bottom: 1rem;
    padding-right: 0;
  }

  /* Tabs list */
  .list {
    // display: flex;
    position: relative;
    overflow: initial;

    button {
      @include media-breakpoint-down(md) {
        margin-bottom: 0.5rem;
      }

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    #slider {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .item {
    margin-right: 30px;
  }

  @media (max-width: 800px) {
    .item {
      flex: 1 1 auto;
      text-align: center;
      margin: 0;
    }
  }

  /* Tab buttons/links */
  .tab {
    display: block;
    color: #2c2c2c;
    padding: 0.25rem 0.5rem;
    background: none;
    transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.3s;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    border: 2px solid map-get($theme, primary);
    margin-right: 1rem;

    &:hover {
      box-shadow: 0px 0px 10px map-get($theme, primary);
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: var(--line-size);
      width: 100%;
    }

    &.active {
      background-color: map-get($theme, primary);
      box-shadow: 0px 0px 10px map-get($theme, primary);

      &.animating:after {
        background-color: transparent;
      }
    }
  }

  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: map-get($theme, primary);
  }
}
