$font-size-7: 1.15em;
$font-size-6: 1.5em;
$font-size-5: 1.5em;
$font-size-4: 1.25em;
$font-size-3: 2em;
$font-size-2: 2.5em;
$font-size-1: 4em;

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4em;
  line-height: 4.15rem;
  margin-bottom: 2rem !important;

  @include media-breakpoint-down(md) {
	font-size: 2.25em;
	line-height: 2.5rem;
	margin-bottom: 2rem !important;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 1rem !important;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25em;
  margin-bottom: 0.5rem !important;
}

h4 {
  font-family: "Literata", serif;
  font-weight: 600;
  font-size: $font-size-4;
  line-height: 1.5em;
}

h5 {
  font-family: "Big Shoulders Text", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: $font-size-5;
}

h6 {
	font-family: "Lekton", sans-serif;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 1.15rem !important;
	line-height: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.5rem;
}

// button, a {
// 	font-family: 'Space Mono', sans-serif;
// 	letter-spacing: .5px;
// 	font-weight: 700;
// 	font-size: 1em;
// 	text-transform: uppercase;
// }

small {
  font-family: "Lekton", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.15rem !important;
  line-height: 1.5rem;
}
