// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;
// $enable-grid-classes: false;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 15px;

$enable-grid-classes: false;

$theme: (
  primary: #F9BF3A,
  secondary: #6A3494,
  success: #D6E681,
  info: #DF2935,
  light: #EFEFEF,
  medium: #C4C4C4,
  dark: #555555,
  primary-light: #FCDFA2,
  primary-dark: #F89C2B,
);