@import "../styles/utilities";

.container {
  position: relative;
  padding: 10rem 0 0;
  transition: 0.3s;

  .rectangle {
    background-color: map-get($theme, primary);
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
    border: 2px solid map-get($theme, primary);

    @include media-breakpoint-down(md) {
      width: 300px;
    }
  }

  .wrapper {
    padding: 3rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

    @include media-breakpoint-down(md) {
      padding: 3rem 0;
    }

    h1 {
      text-align: center;
    }

    .flex {
      position: relative;
      max-width: 1440px;
      width: 100%;
      margin-top: 6rem;
      transition: 0.3s;
      align-items: flex-start;
      pointer-events: none;

      @include make-row($gutter: 0);

      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }

      &:hover {
        .preview {
          &::after {
            transition: 0.3s;
            background-color: rgb(249, 191, 58);
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            content: "";
            pointer-events: none;
          }
        }
      }

      .preview {
        position: relative;
        pointer-events: auto;

        &::after {
          transition: 0.3s;
          background-color: rgb(249, 191, 58);
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          content: "";
          pointer-events: none;
        }

        &:hover {
          &::after {
            transition: 0.3s;
            opacity: 0;
            content: "";
          }
        }

        &:nth-of-type(1) {
          top: -4rem;
          @include media-breakpoint-down(md) {
            top: 0;
          }
        }

        &:nth-of-type(3) {
          top: -4rem;
          @include media-breakpoint-down(md) {
            top: 0;
          }
        }

        @include make-col(6, $columns: $grid-columns);

        @include media-breakpoint-down(md) {
          @include make-col(12);
        }

        .overlay {
          max-width: 100%;
          position: relative;

          &::after {
            display: block;
            position: relative;
            background-image: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0) 0,
              map-get($theme, dark) 100%
            );
            margin-top: -180px;
            height: 180px;
            width: 100%;
            content: "";
          }

          .footer {
            position: absolute;
            bottom: 1.5rem;
            padding: 0 1.5rem;
            z-index: 4;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
              color: map-get($theme, primary);
            }

            svg {
              color: map-get($theme, primary);
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0.5rem;
    }
  }
}
