@import "../styles/utilities";

.wrapper {
  margin-top: 10rem;
  padding: 0 10%;

  @include media-breakpoint-down(md) {
    margin-top: 5rem;
    padding: 0;
  }

  .box {
    background-color: #ffffff;
    padding: 2rem 3rem;

    @include media-breakpoint-down(md) {
      padding: 2rem;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }

      h3 {
        width: 25%;

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }

      .line {
        width: 75%;
        height: 2px;
        background-color: map-get($theme, primary);

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }

    .gallery {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        justify-content: center;
      }

      $padding: 2rem 1rem;

      .image {
        min-height: auto;
        width: 100%;
        padding: 3rem 2rem 2rem;

        @include media-breakpoint-down(md) {
          width: 50%;
          padding: $padding;
          margin-top: 1rem;
        }

        &:first-of-type {
          padding-left: 0;
          @include media-breakpoint-down(md) {
            padding: $padding;
          }
        }

        &:last-of-type {
          padding-right: 0;
          @include media-breakpoint-down(md) {
            padding: $padding;
          }
        }

        img {
          max-width: 100% !important;
          height: auto !important;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          opacity: 0.6;
          -webkit-transition: 0.6s;
          -moz-transition: 0.6s;
          transition: 0.6s;

          &:hover {
            filter: grayscale(0%);
            opacity: 1;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0.5rem 1rem;
    }
  }
}
