@import "../styles/utilities";

.boxWrapper {
  width: 100%;
  padding: 0 16rem;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .box {
    background-color: #ffffff;
    width: 100%;
    max-width: 1200px;

    @include make-row($gutter: 1rem);

    .image {
      background-color: map-get($theme, medium);
      @include make-col(6, $columns: $grid-columns);

      @include media-breakpoint-down(md) {
        @include make-col(12);
      }
    }

    .body {
      padding: 2rem;

      @include make-col(6, $columns: $grid-columns);

      @include media-breakpoint-down(md) {
        @include make-col(12);

        padding: 1rem 2rem;
      }

      h2 {
        font-weight: 300;

        span {
          color: map-get($theme, primary);
        }
      }

      .footer {
        margin-top: 3rem;

        .cases {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h6 {
            text-transform: lowercase;
            margin-bottom: 0;
          }

          .line {
            width: 55%;
            height: 2px;
            background-color: map-get($theme, primary);
          }
        }
      }
    }
  }
}
