@import "../styles/utilities";

.boxWrapper {
  width: 100%;
  padding: 0 10%;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .box {
    background-color: #ffffff;
    width: 100%;
    max-width: 1200px;
    margin-right: 0rem !important;
    margin-left: 0rem !important;

    @include make-row($gutter: 1rem);

    .image {
      background-color: map-get($theme, medium);
      @include make-col(5, $columns: $grid-columns);

      @include media-breakpoint-down(md) {
        @include make-col(12);
      }
    }

    .body {
      padding: 5% 10%;

      @include make-col(7, $columns: $grid-columns);

      @include media-breakpoint-down(md) {
        @include make-col(12);

        padding: 2rem 2rem;
      }

      h3 {
        font-weight: 700;

        span {
          color: map-get($theme, primary);
        }
      }

      .footer {
        margin-top: 3rem;

        .cases {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h6 {
            text-transform: lowercase;
            margin-bottom: 0;
          }

          .line {
            width: 55%;
            height: 2px;
            background-color: map-get($theme, primary);
          }
        }
      }
    }
  }
}
